/*INICIO DE CSS*/
/*INDEX*/

.contenedor {
height: 2470px;
width: 100%;
display: grid;
}


.header {
height: 630px;
width: 100%;
background-color: black;
}

.principal {
height: 1670px;
width: 100%;
background-color: black;
background: linear-gradient(to bottom,black, white)
}


.contenedormenu {
    height: 5600px;
}

.principalmenu {
    height: 5000;
}




.piedepagina {
height: 300px;
width: 100%;
background-color: black;
background: linear-gradient(to top,black, white);
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
}

.imaglogopie {
    align-content: center;
    justify-content: center;
    border-radius: 55%;
}

/*Inicio de MenuNavegador*/
.divnav {
    height: 100px;
    width: 100%;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between;
    
}

.inicio {
    height: 150px;
    width: 250px;
    background-image: url("imagenes/logo1.jpg");
    justify-content: space-evenly;
    align-content: center;
}

.menu {
    height: 150px;
    width: 250px;
    background-image: url("imagenes/menu.jpg");
    
}

.galeria {
    height: 150px;
    width: 250px;
    background-color: yellow;
    background-image: url("imagenes/galeria.jpg");
    
}

.nosotros {
    height: 150px;
    width: 250px;
    background-image: url("imagenes/nosotros.jpg");
    
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    text-justify:distribute;
    
}

li {
    color: white;
    font-size: 40px;
    text-shadow: 10px 10px 10px rgb(65, 2, 2);
}

li:hover:not(a.active){
    color: gray;
    text-shadow: 7px 7px 7px rgb(250, 0, 0);
    
}

nav ul li a {
    
    color : white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

/* TIPOGRAFIA */

.mb-0 {
    text-align: center;
    font-size: 30px;
}


h2 {
text-align: center;
color: blue;
}


h3 {
    text-align: center;
    color: red;
}



/* MENU */



.carta {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    height: auto;
    width: auto;
}


.entradas {
height: auto;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-content: center;
flex-wrap: wrap;

}


.ramen {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    
}
